 <div class="card font-mini" *ngIf="currentBeneficiarie">
     <div class="formgrid grid">
         <div class="field col">
             <label for="tipo_id">Tipo identificación</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].TIPO_ID_BENEFICIARIO}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Documento</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].DOCUMENTO_BENEFICIARIO}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Código</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].CODIGO_BENEFICIARIO}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Beneficiario</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].BENEFICIARIO}}">
         </div>
     </div>

     <div class="formgrid grid">
         <div class="field col">
             <label for="tipo_id">Estado</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].ESTADO_BENEFICIARIO}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Fecha afiliación</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].FECHA_AFILIACION}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Categoría</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].CATEGORIA}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Parentesco</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].PARENTESCO}}">
         </div>
     </div>

     <div class="formgrid grid">
         <div class="field col">
             <label for="tipo_id">Género</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].GENERO_BENEFICIARIO}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Discapacidad</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].DISCAPACIDAD_BENEFICIARIO}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Fecha nacimiento</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].FECHA_NACE_BENEFICIARIO}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Edad</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].EDAD}}">
         </div>
     </div>

     <div class="formgrid grid">
         <div class="field col">
             <label for="tipo_id">Identificación afiliado</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].ID_AFILIADO}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Afiliado</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].AFILIADO}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Tipo cotizante</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].TIPO_COTIZANTE}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Salario</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].SALARIO}}">
         </div>
     </div>

     <div class="formgrid grid">
         <div class="field col">
             <label for="tipo_id">Código ciudad</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].CODIGO_CIUDAD}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Ciudad</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].CIUDAD_RESIDE}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Área</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].AREA_GEOGRAFICA_RESIDENCIA}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Dirección</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].DIRECCION}}">
         </div>
     </div>

     <div class="formgrid grid">
         <div class="field col">
             <label for="tipo_id">Email</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].EMAIL}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Teléfono</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].TELEFONO}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Nit</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].NIT_EMPRESA}}">
         </div>
         <div class="field col">
             <label for="tipo_id">Razón social</label>
             <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentBeneficiarie[0].RAZON_SOCIAL}}">
         </div>
     </div>
 </div>
