<p-card
     class = "flex flex-wrap align-items-center justify-content-center mt-5"
     [style]="{width: '100%'}">
     <p-toast position="top-center"></p-toast>
      <ng-template pTemplate="header" >
           <div class="font-title ml-3 mt-2" [ngStyle]="{color:'var(--green-600)'}">Registros individuales</div>
           <p-divider></p-divider>
       </ng-template>

       <div class="card">
            <div class="flex flex-column card-container green-container">
                <div class="flex align-items-center justify-content-center h-4rem bg-gray-100 font-bold border-round m-2">
                    <div class="flex align-items-center justify-content-center" [style]="{width: '60%'}">
                        <span class="p-input-icon-left p-ml-auto" [style]="{width: '100%'}">
                            <app-get-employer (idEmployer) = "getIdEmployer($event)"></app-get-employer>
                        </span>
                    </div>
                    <div class="flex align-items-center justify-content-center ml-2">
                        <span class="p-input-icon-left p-ml-auto">
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success" (click)="showEmployer()"></button>
                        </span>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center h-4rem bg-gray-100 font-bold border-round m-2">
                  <div class="flex align-items-center justify-content-center" [style]="{width: '60%'}">
                    <span class="p-input-icon-left p-ml-auto" [style]="{width: '100%'}">
                         <app-get-employee (idEmployee) = "getIdEmployee($event)"></app-get-employee>
                    </span>
                </div>
                <div class="flex align-items-center justify-content-center ml-2">
                  <span class="p-input-icon-left p-ml-auto">
                       <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success" (click)="showEmployee()"></button>
                  </span>
                </div>
                </div>
                <div class="flex align-items-center justify-content-center h-4rem bg-gray-100 font-bold border-round m-2">
                  <div class="flex align-items-center justify-content-center" [style]="{width: '60%'}">
                    <!-- <p-radioButton class="font-content ml-3 mb-2" name="groupnameQueryColumn" value="B" [(ngModel)]="beneficiaryType" label="Beneficiario"></p-radioButton>
                    <p-radioButton class="font-content ml-3 mb-2" name="groupnameQueryColumn" value="C" [(ngModel)]="beneficiaryType" label="Cónyuge"></p-radioButton> -->

                    <span class="p-input-icon-left p-ml-auto" [style]="{width: '100%'}">
                         <app-get-beneficiarie (idBeneficiarie) = "getIdBeneficiarie($event)"></app-get-beneficiarie>
                    </span>
                </div>
                <div class="flex align-items-center justify-content-center ml-2">
                  <span class="p-input-icon-left p-ml-auto">
                       <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success" (click)="showBeneficiarie()"></button>
                  </span>
                </div>

                </div>
            </div>
       </div>
       <ng-template pTemplate="footer" >
           <p-divider></p-divider>
           <p class="font-mini">CAJA DE COMPENSACIÓN FAMILIAR DE CARTAGENA - COMFAMILIAR </p>
       </ng-template>
</p-card>
