<p-card
class="flex flex-wrap align-items-center justify-content-center mt-3"
[style]="{width: '1400px'}">
<ng-template pTemplate="header" >
    <div class="font-title ml-3 mt-2" [ngStyle]="{color:'var(--green-400)'}">Trabajadores</div>
    <p-divider></p-divider>
</ng-template>
<div class="font-content"  [style]="{height: '600px'}">

    <p-confirmDialog
        [style]="{width: '50vw'}"
        header="Confirmation"
        icon="pi pi-exclamation-triangle"
        rejectButtonStyleClass="p-button-outlined"
        [baseZIndex]="10000"
        acceptLabel="Si">
    </p-confirmDialog>
    <p-toast position="top-center"></p-toast>

    <div class="flex justify-content-between flex-wrap card-container purple-container">
        <div class="flex align-items-center justify-content-center m-2">
            <div class="p-field mb-3 ml-3">
                <label for="username1">Estado </label>
                <p-dropdown [options]="status" placeholder="Seleccione estado" optionLabel="name" [showClear]="true" [(ngModel)]="selectedStatus" optionValue="value"></p-dropdown>
            </div>
            <div class="p-field mb-3 ml-3">
                <label for="username1">Fecha corte de afiliación </label>
                <p-calendar [(ngModel)]="cutOffDate" dateFormat="dd/mm/yy" placeholder = "dd/mm/yyyy"></p-calendar>
            </div>
            <div class="p-field mb-3 ml-3">
                <button type="button" label="Consultar" pButton pRipple (click)="validate()" class="p-button-sm"></button>
            </div>

        </div>
        <div class="flex align-items-center justify-content-center">
            <div class="p-field mb-3 ml-3">
                <p-progressSpinner *ngIf="showSpinner" [style]="{width: '30px', height: '30px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
            </div>

            <div class="p-field mb-3 ml-3" *ngIf="results?.length">
                <button type="button" label="Exportar a Csv" pButton pRipple icon="pi pi-file-excel" (click)="saveAsCsvFile()" class="p-button-sm"  pTooltip="CSV" tooltipPosition="bottom" [disabled]="!disableExport"></button>
            </div>
        </div>
    </div>

    <p-table #dt *ngIf="results"
    [columns]="cols"
    [value]="results"
    responsiveLayout="scroll"
    [paginator]="true"
    currentPageReportTemplate = "Mostrando {first} a {last} de {totalRecords} entradas"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
    [totalRecords]="totalRecords"
    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped p-datatable-customers"
    [scrollable]="true"
    scrollHeight="300px"
    [autoLayout]="true"
   >
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-wrap card-container purple-container">
            <div class="flex align-items-center justify-content-center m-2">
                <span class = "font-sub-title">{{reportTitle}}</span>
                <!-- <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button> -->
            </div>
            <div class="flex align-items-center justify-content-center">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ngStyle]="{color:'var(--green-400)'}" class="font-title-column" style="text-align:center;">
                {{col.header}}
            </th>
            <th style="text-align:center;" [ngStyle]="{color:'var(--green-400)'}" class="font-title-column">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr class="p-selectable-row font-table">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td style="text-align:center;">
                <div class="sizes">
                    <p-button label="" icon="pi pi-pencil" styleClass="p-button-sm p-button-rounded p-button-outlined" (click)="showEmployee(rowData)" pTooltip="Editar: {{rowData.AFILIADO}}"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template let-item pTemplate="paginatordropdownitem">
        {{item.value}} -por página
    </ng-template>
    <ng-template pTemplate="summary">
        <span class = "font-sub-title">Total registros en esta vista: {{results?.length | number}} </span>
    </ng-template>
</p-table>
</div>

<ng-template pTemplate="footer" >
    <p-divider></p-divider>
    <p class="font-mini">CAJA DE COMPENSACIÓN FAMILIAR DE CARTAGENA - COMFAMILIAR </p>
 </ng-template>

</p-card>

