 /* body{
    background-image: url('../assets/img/undraw_annotation_re_h774.svg');
} */
.body{
  background-image: url('../assets/img/trabajoColaborativo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
