 <div class="card font-mini">
     <div class="formgrid grid">
         <div class="field col">
            <label for="tipo_id">Tipo identificación</label>
               <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.TIPO_IDENTIFICACION}}" readonly>
         </div>
         <div class="field col">
             <label for="nit">NIT</label>
             <input id="nit" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.ID}}" readonly>
         </div>
         <div class="field col">
             <label for="dv">Dígito verificación</label>
             <input id="dv" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.DIGITO}}" readonly>
         </div>
     </div>
     <div class="formgrid grid">
         <div class="field col">
             <label for="name_employer">Razón social</label>
             <input id="name_employer" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.RAZON_SOCIAL}}" readonly>
         </div>
         <div class="field col">
             <label for="estado">Estado</label>
             <input id="estado" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.ESTADO}}">
          </div>
           <div class="field col">
               <label for="num_trab">Número trabajadores activos</label>
               <input id="num_trab" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.TRABAJADORES_ACTIVOS}}" readonly>
           </div>
     </div>
     <div class="formgrid grid">
         <div class="field col">
             <label for="cale_emp">Calidad empresa</label>
             <input id="cale_emp" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.CALIDAD_EMPRESA}}" readonly>
         </div>
         <div class="field col">
             <label for="tipo_emp">Tipo de empresa</label>
             <input id="tipo_emp" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.TIPO_EMPRESA}}" readonly>
         </div>
         <div class="field col">
             <label for="fecha_afiliacion">Fecha afiliación</label>
             <input id="fecha_afiliacion" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.FECHA_AFILIACION}}" readonly>
         </div>
     </div>
     <div class="formgrid grid">
         <div class="field col">
             <label for="cod_ciu">Código ciudad</label>
             <input id="cod_ciu" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.CODIGO_CIUDAD}}" readonly>
         </div>
         <div class="field col">
             <label for="ciudad">Ciudad</label>
             <input id="ciudad" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.CIUDAD}}" readonly>
         </div>
         <div class="field col">
             <label for="telefono">Teléfono</label>
             <input id="telefono" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.TELEFONO}}" readonly>
         </div>
     </div>
     <div class="formgrid grid">
         <div class="field col">
             <label for="direccion">Dirección</label>
             <input id="direccion" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.DIRECCION}}" readonly>
         </div>
         <div class="field col">
             <label for="email">E-mail</label>
             <input id="email" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.CORREO_ELECTRONICO}}" readonly>
         </div>

     </div>
     <div class="formgrid grid">
         <div class="field col">
             <label for="cod_act_econ">Código actividad económica</label>
             <input id="cod_act_econ" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.COD_ACT_ECON}}" readonly>
         </div>
         <div class="field col">
             <label for="act_econ">Actividad económica</label>
             <input id="act_econ" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.ACTIVIDAD_ECONOMICA}}" readonly>
         </div>
     </div>
     <div class="formgrid grid">
         <div class="field col">
             <label for="cod_asesor">Código asesor</label>
             <input id="cod_asesor" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.CODIGO_ASESOR}}" readonly>
         </div>
         <div class="field col">
             <label for="asesor">Asesor</label>
             <input id="asesor" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.NOMBRE_ASESOR}}" readonly>
         </div>
     </div>

     <div class="formgrid grid pb-3">
         <div class="field col">
             <label for="rep_leg">Representante legal</label>
             <input id="rep_leg" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.REPRESENTANTE_LEGAL}}" readonly>
         </div>
         <div class="field col">
             <label for="jefe_per">Jefe de personal</label>
             <input id="jefe_per" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployer.JEFE_PERSONAL}}" readonly>
         </div>
      </div>
 </div>
