<div class="card font-mini">
  <div class="formgrid grid">
      <div class="field col">
      <label for="tipo_id">Tipo identificación</label>
          <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.TIPO_IDENTIFICACION}}">
      </div>
      <div class="field col">
          <label for="nit">Identificación</label>
          <input id="nit" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.ID_AFILIADO}}">
      </div>
      <div class="field col">
          <label for="dv">Afiliado</label>
          <input id="dv" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.AFILIADO}}">
      </div>
      <div class="field col">
          <label for="tipo_id">Estado</label>
          <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.ESTADO}}">
      </div>
  </div>
  <div class="formgrid grid">
      <div class="field col">
          <label for="tipo_id">Fecha afiliación</label>
          <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.FECHA_AFILIACION}}">
       </div>
      <div class="field col">
          <label for="dv">Salario</label>
          <input id="dv" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.SALARIO}}">
      </div>

      <div class="field col">
          <label for="nit">Categoría</label>
          <input id="nit" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.CATEGORIA}}">
      </div>
      <div class="field col">
          <label for="tipo_id">Tipo de cotizante</label>
          <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.TIPO_COTIZANTE}}">
      </div>

  </div>
  <div class="formgrid grid">
   <div class="field col">
        <label for="dv">Género</label>
            <input id="dv" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.GENERO}}">
            </div>
      <div class="field col">
          <label for="tipo_id">Código ciudad reside</label>
          <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.CODIGO_CIUDAD_RESIDE}}">
      </div>
      <div class="field col">
          <label for="nit">Ciudad reside</label>
          <input id="nit" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.CIUDAD_RESIDE}}">
      </div>
      <div class="field col">
          <label for="dv">Dirección</label>
          <input id="dv" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.DIRECCION}}">
      </div>
  </div>
  <div class="formgrid grid">
      <div class="field col">
          <label for="tipo_id">Correo electrónico</label>
          <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.CORREO_ELECTRONICO}}">
      </div>
      <div class="field col">
          <label for="nit">Teléfono</label>
          <input id="nit" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.TELEFONO}}">
      </div>

      <div class="field col">
          <label for="nit">Fecha nace</label>
          <input id="nit" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.FECHA_NACE}}">
      </div>
      <div class="field col">
          <label for="dv">Edad</label>
          <input id="dv" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.EDAD}}">
      </div>
  </div>

  <div class="formgrid grid">
       <div class="field col">
            <label for="dv">Estadi civil</label>
            <input id="dv" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.ESTADO_CIVIL}}">
       </div>
      <div class="field col">
          <label for="tipo_id">Nit aportante</label>
          <input id="tipo_id" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.NIT_EMPRESA}}">
      </div>
      <div class="field col">
          <label for="nit">Razón social</label>
          <input id="nit" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.RAZON_SOCIAL}}">
      </div>
      <div class="field col">
          <label for="nit">Motivo del retiro</label>
          <input id="nit" type="text" pInputText class="inputfield w-full p-inputtext-sm" value = "{{currentEmployee.MOTIVO_RETIRO}}">
       </div>
  </div>
  <div class="formgrid grid">
   <div class="field col">
        <p class = "font-mini">Notas</p>
        <textarea label = "Notas" pInputTextarea value = "{{currentEmployee.NOTA}}" style="width: 100%;"></textarea>

   </div>
  </div>
</div>

