<div styleClass="p-card-shadow" class="flex flex-wrap align-items-center">

  <div class="p-field mb-3 ml-3" [style]="{'width': '60%'}">
      <label for="username1">Empleador</label>
      <p-dropdown
          [options]="results"
          [(ngModel)]="selectedEmployer"
          optionLabel="RAZON_SOCIAL"
          [filter]="true"
          filterBy="RAZON_SOCIAL"
          [showClear]="true"
          placeholder="Seleccione un empleador"
          optionValue="NIT"
          (onFilter)="getAll($event)"
          (onChange)="sendSelectedEmployer()"
          name="RAZON_SOCIAL"
          inputId="RAZON_SOCIAL"
          emptyFilterMessage="Sin registros coincidentes"
          emptyMessage="No se han encontrado resultados"
          [style]="{'width': '80%'}"
          >
      </p-dropdown>
  </div>
  <!-- <div class="p-field mb-3 ml-3 align-items-center" [style]="{'width': '37%'}" >
   <p-button label="Consultar"  class="p-button-sm" [style]="{'width': '35%'}"></p-button>
  </div> -->
</div>

